body {
  background: #e9eaf0;
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 1.25em;
  font-family: Arial, sans-serif;
  color: #272938;
}

h2 {
  padding: 10px 0 10px 0;
  margin: 0;
  font-size: 1.125em;
  text-transform: uppercase;
  font-family: Arial, sans-serif;
  font-weight: 400;
  color: #272938;
}

h3 {
  padding: 10px 0 10px 0;
  margin: 0;
  font-size: 1.25em;
  font-family: Arial, sans-serif;
  font-weight: 400;
  color: #272938;
}

h4 {
  padding: 5px 0 5px 0;
  margin: 0;
  font-size: .875em;
  font-family: Arial, sans-serif;
  font-weight: 400;
  color: #60667a;
  word-break:break-all;
}

h5 {
  padding: 5px 0 5px 0;
  margin: 0;
  font-size: .875em;
  font-family: Arial, sans-serif;
  font-weight: 400;
  color: #60667a;
}

h6 {
  font-size: .875em;
  font-family: Arial, sans-serif;
  padding: 10px 0 10px 0;
  margin: 0;
  font-weight: 300;
  color: #60667a;
}

p {
  font-size: 1.125em;
  font-family: Arial, sans-serif;
  font-weight: 300;
  color: #60667a;
}
